///CUSTOM
:root {
    --app-sidebar-width: 64px;
    --app-header-height: 65px;
    --app-sidebar-gap-start: 0px;
    --app-sidebar-gap-end: 0px;
    --app-sidebar-gap-top: 0px;
    --app-sidebar-gap-bottom: 0px;
    --border-color: #f1f5f8;
    --app-sidebar-base-bg-color: #ffffff;
    --app-sidebar-menu-icon-color: #5c7b97;
    --app-sidebar-menu-icon-actie-color: #1f93ff;
    --app-sidebar-menu-icon-active-bg: #e3eefa;
    --app-sidebar-menu-icon-hover-bg: #f5faff;
    --color-background-light: #f8fafc;
}